# Data Analytics Project

Dit script voert de data cleaning uit op de databestanden die nodig zijn voor het maken van het dashboard in PBI.

In [1]:
# pandas voor data manipulatie
import pandas as pd

### df-bitcoin_cleaned

In [4]:
# AANMAKEN df_bitcoin_cleaned
df_bitcoin_cleaned = pd.read_csv(r'D:\Studie\bit-academy\nexed\data-analytics-project\datasets\Bitcoin_historical_data_coinmarketcap.csv', sep=';')

In [5]:
# DATA CLEANING

# checken op dubbele waardes, indien nodig opschonen
df_bitcoin_cleaned.duplicated().sum()

# checken op NaN waardes, indien nodig opschonen
df_bitcoin_cleaned.isnull().sum()

# overbodige kolommen verwijderen
df_bitcoin_cleaned.drop(columns=['timeClose', 'timeHigh', 'timeLow', 'high', 'low', 'close', 'timestamp', 'open'], inplace=True)

# datum kolom omzetten naar datetype zonder tijd notatie
df_bitcoin_cleaned['timeOpen'] = pd.to_datetime(df_bitcoin_cleaned['timeOpen'], format='mixed', dayfirst=True, errors='coerce')
df_bitcoin_cleaned['timeOpen'] = df_bitcoin_cleaned['timeOpen'].dt.date

# prijs waardes close_price, volume en marketCap weergeven met afronding en type float
df_bitcoin_cleaned['close_price'] = (
    df_bitcoin_cleaned['close_price']
    .str.replace(',', '', regex=False)  # verwijderen duizendtallen
    .astype(float)                      # zet om naar float
)

df_bitcoin_cleaned['volume'] = (
    df_bitcoin_cleaned['volume']
    .str.replace('.', '', regex=False) # zodat de punt als letterlijk geinterpreteerd wordt 
    .str.replace(',', '.', regex=False) # zodat de punt als letterlijk geinterpreteerd wordt 
    .astype(float)
)
df_bitcoin_cleaned['volume'] = (df_bitcoin_cleaned['volume'] / 1e2).round(2)

df_bitcoin_cleaned['marketCap'] = (
    df_bitcoin_cleaned['marketCap']
    .str.replace('.', '', regex=False) # zodat de punt als letterlijk geinterpreteerd wordt 
    .str.replace(',', '.', regex=False) # zodat de punt als letterlijk geinterpreteerd wordt 
    .astype(float)
)
df_bitcoin_cleaned['marketCap'] = (df_bitcoin_cleaned['marketCap'] / 1e2).round(2)

# checken of de waarde 2781 de enige waarde is in de kolom 'name'
print(df_bitcoin_cleaned['name'].unique())

# datatype naar string zetten voor kolom 'name'
df_bitcoin_cleaned['name'] = df_bitcoin_cleaned['name'].astype(str)

# waarde 2781 aanpassen naar Bitcoin, zodat we deze later in PBI kunnen gebruiken als label
df_bitcoin_cleaned.loc[df_bitcoin_cleaned['name'] == '2781', 'name'] = 'Bitcoin'

# kolomnamen aanpassen
df_bitcoin_cleaned.rename(columns={'name': 'crypto_name', 'timeOpen': 'date', 'volume': 'volume_usd', 'marketCap': 'marketcap_usd', 'close_price': 'close_price_usd' }, inplace=True)

# volgorde kolommen aanpassen
df_bitcoin_cleaned = df_bitcoin_cleaned[['date', 'crypto_name', 'close_price_usd', 'volume_usd', 'marketcap_usd']]

[2781]

In [6]:
# df_bitcoin_cleaned (check)
df_bitcoin_cleaned.info()
df_bitcoin_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3105 entries, 0 to 3104
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             3105 non-null   object
 1   crypto_name      3105 non-null   object
 2   close_price_usd  3105 non-null   float64
 3   volume_usd       3105 non-null   float64
 4   marketcap_usd    3105 non-null   float64
dtypes: float64(3), object(2)
memory usage: 121.4+ KB

         date crypto_name  close_price_usd    volume_usd  marketcap_usd
0  2025-07-02     Bitcoin         108843.7  5.624866e+10   2.164564e+12
1  2025-07-01     Bitcoin         105694.3  4.411069e+10   2.102034e+12
2  2025-06-30     Bitcoin         107171.1  4.206480e+10   2.130649e+12
3  2025-06-29     Bitcoin         108361.1  3.553487e+10   2.155240e+12
4  2025-06-28     Bitcoin         107304.4  3.003771e+10   2.134192e+12

### df_ethereum_cleaned

In [7]:
# AANMAKEN df_ethereum_cleaned
df_ethereum_cleaned = pd.read_csv(r'D:\Studie\bit-academy\nexed\data-analytics-project\datasets\Ethereum_historical_data_coinmarketcap.csv', sep=';')

In [8]:
# DATA CLEANING

# checken op dubbele waardes, indien nodig opschonen
df_ethereum_cleaned.duplicated().sum()

# checken op NaN waardes, indien nodig opschonen
df_ethereum_cleaned.isnull().sum()

# overbodige kolommen verwijderen
df_ethereum_cleaned.drop(columns=['timeClose', 'timeHigh', 'timeLow', 'high', 'low', 'close', 'timestamp', 'open'], inplace=True)

# datum kolom omzetten naar datetype zonder tijd notatie
df_ethereum_cleaned['timeOpen'] = pd.to_datetime(df_ethereum_cleaned['timeOpen'], format='mixed', dayfirst=True, errors='coerce')
df_ethereum_cleaned['timeOpen'] = df_ethereum_cleaned['timeOpen'].dt.date

# prijs waardes close_price, volume en marketCap weergeven met afronding en type float
df_ethereum_cleaned['close_price'] = (
    df_ethereum_cleaned['close_price']
    .str.replace(',', '', regex=False)  # verwijderen duizendtallen
    .astype(float)                      # zet om naar float
)

df_ethereum_cleaned['volume'] = (df_ethereum_cleaned['volume'] / 1e2).round(2)

df_ethereum_cleaned['marketCap'] = (
    df_ethereum_cleaned['marketCap']
    .str.replace('.', '', regex=False)
    .str.replace(',', '.', regex=False)
    .astype(float)
)
df_ethereum_cleaned['marketCap'] = (df_ethereum_cleaned['marketCap'] / 1e2).round(2)

# checken of de waarde 2781 de enige waarde is in de kolom 'name'
print(df_ethereum_cleaned['name'].unique())

# datatype naar string zetten voor kolom 'name'
df_ethereum_cleaned['name'] = df_ethereum_cleaned['name'].astype(str)

# waarde 2781 aanpassen naar Ethereum, zodat we deze later in PBI kunnen gebruiken als label
df_ethereum_cleaned.loc[df_ethereum_cleaned['name'] == '2781', 'name'] = 'Ethereum'

# kolomnamen aanpassen
df_ethereum_cleaned.rename(columns={'name': 'crypto_name', 'timeOpen': 'date', 'volume': 'volume_usd', 'marketCap': 'marketcap_usd', 'close_price': 'price_usd' }, inplace=True)

# volgorde kolommen aanpassen
df_ethereum_cleaned = df_ethereum_cleaned[['date', 'crypto_name', 'price_usd', 'volume_usd', 'marketcap_usd']]

[2781]

In [9]:
# df_ethereum_cleaned (check)
df_ethereum_cleaned.info()
df_ethereum_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3105 entries, 0 to 3104
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3105 non-null   object
 1   crypto_name    3105 non-null   object
 2   price_usd      3105 non-null   float64
 3   volume_usd     3105 non-null   float64
 4   marketcap_usd  3105 non-null   float64
dtypes: float64(3), object(2)
memory usage: 121.4+ KB

         date crypto_name  price_usd    volume_usd  marketcap_usd
0  2025-07-02    Ethereum    2570.23  2.279251e+08   3.103398e+11
1  2025-07-01    Ethereum    2405.26  1.502545e+08   2.904293e+11
2  2025-06-30    Ethereum    2486.52  1.685973e+08   3.001562e+11
3  2025-06-29    Ethereum    2500.42  1.250058e+08   3.018677e+10
4  2025-06-28    Ethereum    2435.58  8.273075e+07   2.942034e+11

#### Samenvoegen van Bitcoin en Ethereum dataframes

We gaan de dataframes van btc en eth samenvoegen omdat deze dan als 1 dataframe in PBI ingelezen kunnen worden, de datasets hebben precies dezelfde opbouw dus dit mag geen issues geven.

In [10]:
# samenvoegen df_ethereum_cleaned en df_bitcoin_cleaned dmv .concat omdat beide data-bestanden dezelfde opbouw hebben
df_crypto_joined = pd.concat([df_bitcoin_cleaned, df_ethereum_cleaned], ignore_index=True)
# sorteren date en crypto_name
df_crypto_joined = pd.DataFrame(df_crypto_joined.sort_values(by=['date', 'crypto_name'], ascending=False))

In [11]:
# joined dfs
df_crypto_joined.head()

,date,crypto_name,close_price_usd,volume_usd,marketcap_usd,price_usd
3105,2025-07-02,Ethereum,NaN,2.279251e+08,3.103398e+11,2570.23
0,2025-07-02,Bitcoin,108843.7,5.624866e+10,2.164564e+12,NaN
3106,2025-07-01,Ethereum,NaN,1.502545e+08,2.904293e+11,2405.26
1,2025-07-01,Bitcoin,105694.3,4.411069e+10,2.102034e+12,NaN
3107,2025-06-30,Ethereum,NaN,1.685973e+08,3.001562e+11,2486.52

### df-gold_cleaned

In [154]:
# AANMAKEN df_gold_cleaned
df_gold_cleaned = pd.read_csv(r'D:\Studie\bit-academy\nexed\data-analytics-project\datasets\Gold Futures Historical Data.csv', sep=';')

In [155]:
# DATA CLEANING

# checken op dubbele waardes, indien nodig opschonen
df_gold_cleaned.duplicated().sum()

# checken op NaN waardes, indien nodig opschonen
df_gold_cleaned.isnull().sum()

# overbodige kolommen verwijderen
df_gold_cleaned.drop(columns=['Change %', 'Price', 'High', 'Low'], inplace=True)

# vervangen van alle '-' door '/' in datum kolom + datums die beginnen met een "0" corrigeren
df_gold_cleaned['Date'] = df_gold_cleaned['Date'].str.replace('/', '-', regex=False)
df_gold_cleaned['Date'] = df_gold_cleaned['Date'].str.replace(r'^0', '', regex=True)

# datumnotatie corrigeren voor correct inlezen in PBI
df_gold_cleaned[['month', 'day', 'year']] = df_gold_cleaned['Date'].str.split('-', expand=True)
df_gold_cleaned['Date'] = df_gold_cleaned['day'] + '-' + df_gold_cleaned['month'] + '-' + df_gold_cleaned['year']

# kolom 'Vol.' en 'Open' omzetten naar float met juiste waardes, 'e3' wordt door python gezien als 10x10x10 dus 1000
df_gold_cleaned['Vol.'] = (df_gold_cleaned['Vol.'].astype(str)   # omzetten naar string
.str.replace('K', 'e3').astype(float))                           # omzetten naar float

df_gold_cleaned['Open'] = df_gold_cleaned['Open'].str.replace(',', '', regex=False).astype(float)

# kolomnamen aanpassen
df_gold_cleaned.rename(columns={'Date':'date', 'Open': 'price($)', 'Vol.': 'volume(contracts)'}, inplace=True)

# kolom toevoegen met label
df_gold_cleaned['label_name'] = 'GOLD'

# kolom toevoegen met prijs van goud per kg
df_gold_cleaned['price_per_kg($)'] = df_gold_cleaned['price($)'] *32.1507

# volgorde kolommen aanpassen
df_gold_cleaned = df_gold_cleaned[['date', 'label_name', 'price($)', 'price_per_kg($)', 'volume(contracts)']]

In [156]:
# df_gold_cleaned (check)
df_gold_cleaned.info()
df_gold_cleaned.head()
# Nan-waardes bekijken
df_gold_cleaned[df_gold_cleaned.isna().any(axis=1)]
# Nan-waardes verwijderen (betreft 2 datapunten)
df_gold_cleaned.dropna(inplace=True)
# df_gold_cleaned (check2)
df_gold_cleaned.info()
df_gold_cleaned.head(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2441 entries, 0 to 2440
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               2441 non-null   object
 1   label_name         2441 non-null   object
 2   price($)           2441 non-null   float64
 3   price_per_kg($)    2441 non-null   float64
 4   volume(contracts)  2439 non-null   float64
dtypes: float64(3), object(2)
memory usage: 95.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 2439 entries, 0 to 2440
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               2439 non-null   object
 1   label_name         2439 non-null   object
 2   price($)           2439 non-null   float64
 3   price_per_kg($)    2439 non-null   float64
 4   volume(contracts)  2439 non-null   float64
dtypes: float64(3), object(2)
memory usage: 114.3+ KB

         date label_name  price($)  price_per_kg($)  volume(contracts)
0    2-7-2025       GOLD   3350.00    107704.845000             8390.0
1    1-7-2025       GOLD   3315.70    106602.075990           168850.0
2   30-6-2025       GOLD   3284.30    105592.544010           144200.0
3   29-6-2025       GOLD   3284.75    105607.011825            16170.0
4   27-6-2025       GOLD   3341.30    107425.133910           218870.0
5   26-6-2025       GOLD   3333.60    107177.573520             2060.0
6   25-6-2025       GOLD   3322.90    106833.561030              940.0
7   24-6-2025       GOLD   3361.20    108064.932840             2450.0
8   23-6-2025       GOLD   3387.00    108894.420900             3290.0
9   20-6-2025       GOLD   3387.10    108897.635970           280830.0
10  19-6-2025       GOLD   3391.81    109049.065767           136010.0
11  18-6-2025       GOLD   3409.00    109601.736300           178280.0
12  17-6-2025       GOLD   3404.20    109447.412940           209080.0
13  16-6-2025       GOLD   3473.00    111659.381100           192510.0
14  13-6-2025       GOLD   3406.70    109527.789690           270630.0
15  12-6-2025       GOLD   3377.50    108588.989250           230170.0
16  11-6-2025       GOLD   3344.30    107521.586010           201530.0
17  10-6-2025       GOLD   3346.30    107585.887410           158900.0
18   9-6-2025       GOLD   3333.40    107171.143380           142010.0
19   6-6-2025       GOLD   3377.40    108585.774180           185370.0
20   5-6-2025       GOLD   3398.00    109248.078600           224860.0
21   4-6-2025       GOLD   3377.80    108598.634460           167220.0
22   3-6-2025       GOLD   3406.50    109521.359550           168220.0
23   2-6-2025       GOLD   3323.00    106836.776100           181000.0
24  30-5-2025       GOLD   3343.20    107486.220240           184770.0
25  29-5-2025       GOLD   3311.80    106476.688260           227940.0
26  28-5-2025       GOLD   3317.30    106653.517110             2760.0
27  27-5-2025       GOLD   3369.60    108334.998720             4190.0
28  26-5-2025       GOLD   3370.17    108353.324619            29790.0
29  25-5-2025       GOLD   3384.00    108797.968800            65790.0
30  23-5-2025       GOLD   3323.20    106843.206240            71080.0
31  22-5-2025       GOLD   3346.50    107592.317550            52140.0
32  21-5-2025       GOLD   3321.20    106778.904840            50600.0
33  20-5-2025       GOLD   3260.70    104833.787490            30440.0
34  19-5-2025       GOLD   3246.00    104361.172200            21050.0
35  16-5-2025       GOLD   3243.50    104280.795450           245490.0
36  15-5-2025       GOLD   3180.80    102264.946560           253060.0
37  14-5-2025       GOLD   3254.10    104621.592870           233930.0
38  13-5-2025       GOLD   3240.70    104190.773490           214420.0
39  12-5-2025       GOLD   3281.00    105486.446700           308530.0
40   9-5-2025       GOLD   3310.20    106425.247140           232460.0
41   8-5-2025       GOLD   3373.10    108447.526170           327130.0
42   7-5-2025       GOLD   3448.10    110858.828670           304240.0
43   6-5-2025       GOLD   3345.70    107566.596990           268100.0
44   5-5-2025       GOLD   3247.10    104396.537970           184900.0
45   2-5-2025       GOLD   3247.60    104412.613320           210990.0
46   1-5-2025       GOLD   3299.00    106065.159300           214690.0
47  30-4-2025       GOLD   3324.50    106885.002150           207720.0
48  29-4-2025       GOLD   3354.90    107862.383430           170150.0
49  28-4-2025       GOLD   3318.30    106685.667810             1300.0

### df-SP500_cleaned

In [147]:
# AANMAKEN df_SP500_cleaned
df_SP500_cleaned = pd.read_csv(r'D:\Studie\bit-academy\nexed\data-analytics-project\datasets\S&P 500 Historical Data.csv', sep=';')

In [148]:
# DATA CLEANING

# checken op dubbele waardes, indien nodig opschonen
df_SP500_cleaned.duplicated().sum()

# checken op NaN waardes, indien nodig opschonen
df_SP500_cleaned.isnull().sum()

# overbodige kolommen verwijderen
df_SP500_cleaned.drop(columns=['Change %', 'Price', 'High', 'Low', 'Vol.'], inplace=True)

# vervangen van alle '-' door '/' in datum kolom + datums die beginnen met een "0" corrigeren
df_SP500_cleaned['Date'] = df_SP500_cleaned['Date'].str.replace('/', '-', regex=False)
df_SP500_cleaned['Date'] = df_SP500_cleaned['Date'].str.replace(r'^0', '', regex=True)

# datumnotatie corrigeren voor correct inlezen in PBI
df_SP500_cleaned[['month', 'day', 'year']] = df_SP500_cleaned['Date'].str.split('-', expand=True)
df_SP500_cleaned['Date'] = df_SP500_cleaned['day'] + '-' + df_SP500_cleaned['month'] + '-' + df_SP500_cleaned['year']

# kolom 'Open' omzetten naar float met juiste waardes
df_SP500_cleaned['Open'] = df_SP500_cleaned['Open'].str.replace(',', '', regex=False).astype(float)

# kolomnamen aanpassen
df_SP500_cleaned.rename(columns={'Date':'date', 'Open': 'points'}, inplace=True)

# kolom toevoegen met label
df_SP500_cleaned['index_name'] = 'S&P500'

# volgorde kolommen aanpassen
df_SP500_cleaned = df_SP500_cleaned[['date', 'index_name', 'points']]

In [149]:
df_SP500_cleaned.info()
df_SP500_cleaned.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2388 entries, 0 to 2387
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        2388 non-null   object
 1   index_name  2388 non-null   object
 2   points      2388 non-null   float64
dtypes: float64(1), object(2)
memory usage: 56.1+ KB

        date index_name   points
0   2-7-2025     S&P500  6193.88
1   1-7-2025     S&P500  6187.25
2  30-6-2025     S&P500  6193.36
3  27-6-2025     S&P500  6150.70
4  26-6-2025     S&P500  6112.09
5  25-6-2025     S&P500  6104.23
6  24-6-2025     S&P500  6061.21
7  23-6-2025     S&P500  5969.67
8  20-6-2025     S&P500  5999.67
9  18-6-2025     S&P500  5987.93

### df-conflicts_cleaned

In [86]:
# AANMAKEN df_conflicts_cleaned
df_conflicts_cleaned = pd.read_csv(r'D:\Studie\bit-academy\nexed\data-analytics-project\datasets\UcdpPrioConflict_v25_1.csv', sep=';')

In [87]:
# DATA CLEANING

# checken op dubbele waardes, indien nodig opschonen
df_conflicts_cleaned.duplicated().sum()

# checken op NaN waardes, indien nodig opschonen
df_conflicts_cleaned.isnull().sum()

# hernoemen 'starte_date2' kolom
df_conflicts_cleaned = df_conflicts_cleaned.rename(columns={'start_date2': 'startdate'})

# overbodige kolommen verwijderen
df_conflicts_cleaned.drop(columns=['side_a_2nd', 'side_b_2nd', 'incompatibility', 'start_prec', 'ep_end_prec', 'start_date', 'start_prec2', 'ep_end', 'ep_end_date', 'ep_end_prec', 'gwno_a', 'gwno_a_2nd', 'gwno_b', 'gwno_b_2nd', 'version', 'cumulative_intensity', 'side_a_id', 'side_b_id', 'gwno_loc', 'territory_name', 'year'], inplace=True)

# datum kolommen omzetten naar datetype
df_conflicts_cleaned['startdate'] = pd.to_datetime(df_conflicts_cleaned['startdate'], format='mixed', dayfirst=True, errors='coerce')
df_conflicts_cleaned = df_conflicts_cleaned[df_conflicts_cleaned['startdate'] > '31-12-2014']

# volgorde kolommen aanpassen
df_conflicts_cleaned = df_conflicts_cleaned[['conflict_id',                                          
 'startdate',
 'location',
 'side_a',
 'side_b',
 'intensity_level',
 'type_of_conflict',
 'region']]

# kolom 'conflict_id' . weghalen en omzetten naar string
df_conflicts_cleaned['conflict_id'] = df_conflicts_cleaned['conflict_id'].astype(str).str.replace('.', '', regex=False)

# waardes kolom 'intensity_level' aanpassen op basis van dataset documentatie
intensity_level_vervanging = {'1': 'Minor', '2': 'War'}
df_conflicts_cleaned['intensity_level'] = df_conflicts_cleaned['intensity_level'].replace(intensity_level_vervanging)

# waardes kolom 'type_of_conflict' aanpassen op basis van dataset documentatie
type_of_conflict_vervanging = {1.00: 'extrasystemic', 2.00: 'interstate', 3.00: 'intrastate', 4.00: 'internationalized intrastate'}
df_conflicts_cleaned['type_of_conflict'] = df_conflicts_cleaned['type_of_conflict'].replace(type_of_conflict_vervanging)

# waardes kolom 'region' aanpassen op basis van dataset documentatie
region_vervanging = {'1': 'Europe', '2': ' Middle East ', '3': 'Asia', '4': 'Africa', '5': 'Americas'}
df_conflicts_cleaned['region'] = df_conflicts_cleaned['region'].replace(region_vervanging)

# sorteren op startdate van nieuwe naar oud
df_conflicts_cleaned = df_conflicts_cleaned.sort_values(by='startdate', ascending= False)

In [88]:
df_conflicts_cleaned.info()
df_conflicts_cleaned.head(50)

<class 'pandas.core.frame.DataFrame'>
Index: 363 entries, 2440 to 2173
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   conflict_id       363 non-null    object
 1   startdate         363 non-null    datetime64[ns]
 2   location          363 non-null    object
 3   side_a            363 non-null    object
 4   side_b            363 non-null    object
 5   intensity_level   363 non-null    object
 6   type_of_conflict  363 non-null    object
 7   region            363 non-null    object
dtypes: datetime64[ns](1), object(7)
memory usage: 25.5+ KB

,conflict_id,startdate,location,side_a,side_b,intensity_level,type_of_conflict,region
2440,3870,2024-12-31,Angola,Government of Angola,FLEC-FAC-TN,Minor,intrastate,Africa
216,141970,2024-12-31,Somalia,Government of Somalia,IS,Minor,internationalized intrastate,Africa
264,163790,2024-12-12,Somalia,Government of Somalia,Jubaland State of Somalia,Minor,intrastate,Africa
52,116390,2024-08-12,"Afghanistan, Pakistan",Government of Afghanistan,Government of Pakistan,Minor,interstate,Asia
82,135880,2024-06-23,Russia (Soviet Union),Government of Russia (Soviet Union),IS,Minor,intrastate,Europe
2373,3810,2024-03-06,Haiti,Government of Haiti,Viv Ansanm,Minor,internationalized intrastate,Americas
261,160990,2024-02-03,"United Kingdom, United States of America, Yeme...","Government of United Kingdom, Government of Un...",Government of Yemen (North Yemen),Minor,interstate,"1, 2, 5"
2077,3380,2023-12-15,Iran,Government of Iran,Jaish al-Adl,Minor,intrastate,Middle East
2078,3380,2023-12-15,Iran,Government of Iran,Jaish al-Adl,Minor,intrastate,Middle East
255,152830,2023-12-09,Central African Republic,Government of Central African Republic,MPC,Minor,internationalized intrastate,Africa
2740,4390,2023-11-22,Myanmar (Burma),Government of Myanmar (Burma),MNDAA,Minor,intrastate,Asia
2739,4390,2023-11-22,Myanmar (Burma),Government of Myanmar (Burma),MNDAA,Minor,intrastate,Asia
178,138090,2023-11-06,Syria,Government of Syria,SDF,Minor,intrastate,Middle East
177,138090,2023-11-06,Syria,Government of Syria,SDF,Minor,intrastate,Middle East
2696,4260,2023-10-18,Israel,Government of Israel,Hezbollah,Minor,intrastate,Middle East
2697,4260,2023-10-18,Israel,Government of Israel,Hezbollah,War,intrastate,Middle East
258,160380,2023-09-12,Mali,Government of Mali,FLA,Minor,internationalized intrastate,Africa
257,160380,2023-09-12,Mali,Government of Mali,FLA,Minor,intrastate,Africa
1345,2880,2023-08-09,Chad,Government of Chad,CCMSR,Minor,intrastate,Africa
259,160690,2023-06-27,Ethiopia,Government of Ethiopia,Fano,War,intrastate,Africa
260,160690,2023-06-27,Ethiopia,Government of Ethiopia,Fano,War,intrastate,Africa
110,136380,2023-06-05,Cameroon,Government of Cameroon,IS,Minor,intrastate,Africa
2502,3990,2023-06-01,Russia (Soviet Union),Government of Russia (Soviet Union),LSR,Minor,intrastate,Europe
2501,3990,2023-06-01,Russia (Soviet Union),Government of Russia (Soviet Union),"LSR, RDK, Wagner",Minor,intrastate,Europe
2439,3870,2022-12-31,Angola,Government of Angola,FLEC-FAC-TN,Minor,intrastate,Africa
256,154380,2022-12-21,Uganda,Government of Uganda,IS,Minor,intrastate,Africa
251,152560,2022-10-12,Benin,Government of Benin,JNIM,Minor,intrastate,Africa
252,152560,2022-10-12,Benin,Government of Benin,JNIM,Minor,intrastate,Africa
253,152560,2022-10-12,Benin,Government of Benin,JNIM,Minor,intrastate,Africa
592,2230,2022-08-25,Myanmar (Burma),Government of Myanmar (Burma),ULA,Minor,intrastate,Asia
593,2230,2022-08-25,Myanmar (Burma),Government of Myanmar (Burma),ULA,Minor,intrastate,Asia
594,2230,2022-08-25,Myanmar (Burma),Government of Myanmar (Burma),ULA,Minor,intrastate,Asia
2178,3530,2022-08-04,Cameroon,Government of Cameroon,JAS,Minor,intrastate,Africa
2177,3530,2022-08-04,Cameroon,Government of Cameroon,JAS,Minor,intrastate,Africa
2345,3740,2022-08-04,Rwanda,Government of Rwanda,FDLR-FOCA,Minor,intrastate,Africa
2346,3740,2022-08-04,Rwanda,Government of Rwanda,FDLR-FOCA,Minor,intrastate,Africa
2347,3740,2022-08-04,Rwanda,Government of Rwanda,FDLR-FOCA,Minor,intrastate,Africa
2179,3530,2022-08-04,Cameroon,Government of Cameroon,JAS,Minor,intrastate,Africa
2228,3580,2022-07-10,Togo,Government of Togo,JNIM,Minor,intrastate,Africa
2227,3580,2022-07-10,Togo,Government of Togo,JNIM,Minor,intrastate,Africa
2226,3580,2022-07-10,Togo,Government of Togo,JNIM,Minor,intrastate,Africa
62,132430,2022-02-24,"Russia (Soviet Union), Ukraine",Government of Russia (Soviet Union),Government of Ukraine,War,interstate,Europe
61,132430,2022-02-24,"Russia (Soviet Union), Ukraine",Government of Russia (Soviet Union),Government of Ukraine,War,interstate,Europe
60,132430,2022-02-24,"Russia (Soviet Union), Ukraine",Government of Russia (Soviet Union),Government of Ukraine,War,interstate,Europe
193,139360,2021-12-20,Pakistan,Government of Pakistan,IS,Minor,intrastate,Asia
194,139360,2021-12-20,Pakistan,Government of Pakistan,IS,Minor,intrastate,Asia
195,139360,2021-12-20,Pakistan,Government of Pakistan,IS,Minor,intrastate,Asia
2713,4300,2021-12-09,Niger,Government of Niger,JNIM,Minor,internationalized intrastate,Africa
2714,4300,2021-12-09,Niger,Government of Niger,JNIM,Minor,internationalized intrastate,Africa
2712,4300,2021-12-09,Niger,Government of Niger,JNIM,Minor,internationalized intrastate,Africa

## Importeren van de opgeschoonde data in PBI

Bovenstaande python-codes ga ik gebruiken om de gecleande data direct in te laden. Hiervoor kiezen we python-script als optie in PBI. 
We zetten alleen de stukjes code erin die nodig zijn om de opgeschoonde/samengevoegde dataframes te laden in het python-script.
Dit werkt mooi en scheelt weer een stap, want we hoeven nu geen CSV-exports te maken om die vervolgens weer in PBI te laden.

Zie onderstaand het volledige importscript.

#### Importscript voor PBI

# Complete importscript van alle datasets

# pandas voor data manipulatie
import pandas as pd

# AANMAKEN df_bitcoin_cleaned
df_bitcoin_cleaned = pd.read_csv(r'D:\Studie\bit-academy\nexed\data-analytics-project\datasets\Bitcoin_historical_data_coinmarketcap.csv', sep=';')

# DATA CLEANING

# checken op dubbele waardes, indien nodig opschonen
df_bitcoin_cleaned.duplicated().sum()

# checken op NaN waardes, indien nodig opschonen
df_bitcoin_cleaned.isnull().sum()

# overbodige kolommen verwijderen
df_bitcoin_cleaned.drop(columns=['timeClose', 'timeHigh', 'timeLow', 'high', 'low', 'close', 'timestamp', 'open'], inplace=True)

# datum kolom omzetten naar datetype zonder tijd notatie
df_bitcoin_cleaned['timeOpen'] = pd.to_datetime(df_bitcoin_cleaned['timeOpen'], format='mixed', dayfirst=True, errors='coerce')
df_bitcoin_cleaned['timeOpen'] = df_bitcoin_cleaned['timeOpen'].dt.date

# prijs waardes close_price, volume en marketCap weergeven met afronding en type float
df_bitcoin_cleaned['close_price'] = (
    df_bitcoin_cleaned['close_price']
    .str.replace(',', '', regex=False)  # verwijderen duizendtallen
    .astype(float)                      # zet om naar float
)

df_bitcoin_cleaned['volume'] = (
    df_bitcoin_cleaned['volume']
    .str.replace('.', '', regex=False) # zodat de punt als letterlijk geinterpreteerd wordt 
    .str.replace(',', '.', regex=False) # zodat de punt als letterlijk geinterpreteerd wordt 
    .astype(float)
)
df_bitcoin_cleaned['volume'] = (df_bitcoin_cleaned['volume'] / 1e2).round(2)

df_bitcoin_cleaned['marketCap'] = (
    df_bitcoin_cleaned['marketCap']
    .str.replace('.', '', regex=False) # zodat de punt als letterlijk geinterpreteerd wordt 
    .str.replace(',', '.', regex=False) # zodat de punt als letterlijk geinterpreteerd wordt 
    .astype(float)
)
df_bitcoin_cleaned['marketCap'] = (df_bitcoin_cleaned['marketCap'] / 1e2).round(2)

# checken of de waarde 2781 de enige waarde is in de kolom 'name'
print(df_bitcoin_cleaned['name'].unique())

# datatype naar string zetten voor kolom 'name'
df_bitcoin_cleaned['name'] = df_bitcoin_cleaned['name'].astype(str)

# waarde 2781 aanpassen naar Bitcoin, zodat we deze later in PBI kunnen gebruiken als label
df_bitcoin_cleaned.loc[df_bitcoin_cleaned['name'] == '2781', 'name'] = 'Bitcoin'

# kolomnamen aanpassen
df_bitcoin_cleaned.rename(columns={'name': 'crypto_name', 'timeOpen': 'date', 'volume': 'volume_usd', 'marketCap': 'marketcap_usd', 'close_price': 'close_price_usd' }, inplace=True)

# volgorde kolommen aanpassen
df_bitcoin_cleaned = df_bitcoin_cleaned[['date', 'crypto_name', 'close_price_usd', 'volume_usd', 'marketcap_usd']]

# df_ethereum_cleaned
df_ethereum_cleaned = pd.read_csv(r'D:\Studie\bit-academy\nexed\data-analytics-project\datasets\Ethereum_historical_data_coinmarketcap.csv', sep=';')

# DATA CLEANING

# checken op dubbele waardes, indien nodig opschonen
df_ethereum_cleaned.duplicated().sum()

# checken op NaN waardes, indien nodig opschonen
df_ethereum_cleaned.isnull().sum()

# overbodige kolommen verwijderen
df_ethereum_cleaned.drop(columns=['timeClose', 'timeHigh', 'timeLow', 'high', 'low', 'close', 'timestamp', 'open'], inplace=True)

# datum kolom omzetten naar datetype zonder tijd notatie
df_ethereum_cleaned['timeOpen'] = pd.to_datetime(df_ethereum_cleaned['timeOpen'], format='mixed', dayfirst=True, errors='coerce')
df_ethereum_cleaned['timeOpen'] = df_ethereum_cleaned['timeOpen'].dt.date

# prijs waardes close_price, volume en marketCap weergeven met afronding en type float
df_ethereum_cleaned['close_price'] = (
    df_ethereum_cleaned['close_price']
    .str.replace(',', '', regex=False)  # verwijderen duizendtallen
    .astype(float)                      # zet om naar float
)

df_ethereum_cleaned['volume'] = (df_ethereum_cleaned['volume'] / 1e2).round(2)

df_ethereum_cleaned['marketCap'] = (
    df_ethereum_cleaned['marketCap']
    .str.replace('.', '', regex=False)
    .str.replace(',', '.', regex=False)
    .astype(float)
)
df_ethereum_cleaned['marketCap'] = (df_ethereum_cleaned['marketCap'] / 1e2).round(2)

# checken of de waarde 2781 de enige waarde is in de kolom 'name'
print(df_ethereum_cleaned['name'].unique())

# datatype naar string zetten voor kolom 'name'
df_ethereum_cleaned['name'] = df_ethereum_cleaned['name'].astype(str)

# waarde 2781 aanpassen naar Ethereum, zodat we deze later in PBI kunnen gebruiken als label
df_ethereum_cleaned.loc[df_ethereum_cleaned['name'] == '2781', 'name'] = 'Ethereum'

# kolomnamen aanpassen
df_ethereum_cleaned.rename(columns={'name': 'crypto_name', 'timeOpen': 'date', 'volume': 'volume_usd', 'marketCap': 'marketcap_usd', 'close_price': 'close_price_usd' }, inplace=True)

# volgorde kolommen aanpassen
df_ethereum_cleaned = df_ethereum_cleaned[['date', 'crypto_name', 'close_price_usd', 'volume_usd', 'marketcap_usd']]

# samenvoegen df_ethereum_cleaned en df_bitcoin_cleaned dmv .concat omdat beide data-bestanden dezelfde opbouw hebben
df_crypto_joined = pd.concat([df_bitcoin_cleaned, df_ethereum_cleaned], ignore_index=True)
# sorteren date en crypto_name
df_crypto_joined = pd.DataFrame(df_crypto_joined.sort_values(by=['date', 'crypto_name'], ascending=False))

# AANMAKEN df_gold_cleaned
df_gold_cleaned = pd.read_csv(r'D:\Studie\bit-academy\nexed\data-analytics-project\datasets\Gold Futures Historical Data.csv', sep=';')

# DATA CLEANING

# checken op dubbele waardes, indien nodig opschonen
df_gold_cleaned.duplicated().sum()

# checken op NaN waardes, indien nodig opschonen
df_gold_cleaned.isnull().sum()

# overbodige kolommen verwijderen
df_gold_cleaned.drop(columns=['Change %', 'Price', 'High', 'Low'], inplace=True)

# vervangen van alle '-' door '/' in datum kolom + datums die beginnen met een "0" corrigeren
df_gold_cleaned['Date'] = df_gold_cleaned['Date'].str.replace('/', '-', regex=False)
df_gold_cleaned['Date'] = df_gold_cleaned['Date'].str.replace(r'^0', '', regex=True)

# datumnotatie corrigeren voor correct inlezen in PBI
df_gold_cleaned[['month', 'day', 'year']] = df_gold_cleaned['Date'].str.split('-', expand=True)
df_gold_cleaned['Date'] = df_gold_cleaned['day'] + '-' + df_gold_cleaned['month'] + '-' + df_gold_cleaned['year']

# kolom 'Vol.' en 'Open' omzetten naar float met juiste waardes, 'e3' wordt door python gezien als 10x10x10 dus 1000
df_gold_cleaned['Vol.'] = (df_gold_cleaned['Vol.'].astype(str)   # omzetten naar string
.str.replace('K', 'e3').astype(float))                           # omzetten naar float

df_gold_cleaned['Open'] = df_gold_cleaned['Open'].str.replace(',', '', regex=False).astype(float)

# kolomnamen aanpassen
df_gold_cleaned.rename(columns={'Date':'date', 'Open': 'price($)', 'Vol.': 'volume(contracts)'}, inplace=True)

# kolom toevoegen met label
df_gold_cleaned['label_name'] = 'GOLD'

# kolom toevoegen met prijs van goud per kg
df_gold_cleaned['price_per_kg($)'] = df_gold_cleaned['price($)'] *32.1507

# volgorde kolommen aanpassen
df_gold_cleaned = df_gold_cleaned[['date', 'label_name', 'price($)', 'price_per_kg($)', 'volume(contracts)']]

# Nan-waardes verwijderen (betreft 2 datapunten)
df_gold_cleaned.dropna(inplace=True)

# AANMAKEN df_SP500_cleaned
df_SP500_cleaned = pd.read_csv(r'D:\Studie\bit-academy\nexed\data-analytics-project\datasets\S&P 500 Historical Data.csv', sep=';')

# DATA CLEANING

# checken op dubbele waardes, indien nodig opschonen
df_SP500_cleaned.duplicated().sum()

# checken op NaN waardes, indien nodig opschonen
df_SP500_cleaned.isnull().sum()

# overbodige kolommen verwijderen
df_SP500_cleaned.drop(columns=['Change %', 'Price', 'High', 'Low', 'Vol.'], inplace=True)

# vervangen van alle '-' door '/' in datum kolom + datums die beginnen met een "0" corrigeren
df_SP500_cleaned['Date'] = df_SP500_cleaned['Date'].str.replace('/', '-', regex=False)
df_SP500_cleaned['Date'] = df_SP500_cleaned['Date'].str.replace(r'^0', '', regex=True)

# datumnotatie corrigeren voor correct inlezen in PBI
df_SP500_cleaned[['month', 'day', 'year']] = df_SP500_cleaned['Date'].str.split('-', expand=True)
df_SP500_cleaned['Date'] = df_SP500_cleaned['day'] + '-' + df_SP500_cleaned['month'] + '-' + df_SP500_cleaned['year']

# kolom 'Open' omzetten naar float met juiste waardes
df_SP500_cleaned['Open'] = df_SP500_cleaned['Open'].str.replace(',', '', regex=False).astype(float)

# kolomnamen aanpassen
df_SP500_cleaned.rename(columns={'Date':'date', 'Open': 'points'}, inplace=True)

# kolom toevoegen met label
df_SP500_cleaned['index_name'] = 'S&P500'

# volgorde kolommen aanpassen
df_SP500_cleaned = df_SP500_cleaned[['date', 'index_name', 'points']]

# AANMAKEN df_conflicts_cleaned
df_conflicts_cleaned = pd.read_csv(r'D:\Studie\bit-academy\nexed\data-analytics-project\datasets\UcdpPrioConflict_v25_1.csv', sep=';')

# DATA CLEANING

# checken op dubbele waardes, indien nodig opschonen
df_conflicts_cleaned.duplicated().sum()

# checken op NaN waardes, indien nodig opschonen
df_conflicts_cleaned.isnull().sum()

# hernoemen 'starte_date2' kolom
df_conflicts_cleaned = df_conflicts_cleaned.rename(columns={'start_date2': 'startdate'})

# overbodige kolommen verwijderen
df_conflicts_cleaned.drop(columns=['side_a_2nd', 'side_b_2nd', 'incompatibility', 'start_prec', 'ep_end_prec', 'start_date', 'start_prec2', 'ep_end', 'ep_end_date', 'ep_end_prec', 'gwno_a', 'gwno_a_2nd', 'gwno_b', 'gwno_b_2nd', 'version', 'cumulative_intensity', 'side_a_id', 'side_b_id', 'gwno_loc', 'territory_name', 'year'], inplace=True)

# datum kolommen omzetten naar datetype
df_conflicts_cleaned['startdate'] = pd.to_datetime(df_conflicts_cleaned['startdate'], format='mixed', dayfirst=True, errors='coerce')
df_conflicts_cleaned = df_conflicts_cleaned[df_conflicts_cleaned['startdate'] > '31-12-2014']

# volgorde kolommen aanpassen
df_conflicts_cleaned = df_conflicts_cleaned[['conflict_id',                                          
 'startdate',
 'location',
 'side_a',
 'side_b',
 'intensity_level',
 'type_of_conflict',
 'region']]

# kolom 'conflict_id' . weghalen en omzetten naar string
df_conflicts_cleaned['conflict_id'] = df_conflicts_cleaned['conflict_id'].astype(str).str.replace('.', '', regex=False)

# waardes kolom 'intensity_level' aanpassen op basis van dataset documentatie
intensity_level_vervanging = {'1': 'Minor', '2': 'War'}
df_conflicts_cleaned['intensity_level'] = df_conflicts_cleaned['intensity_level'].replace(intensity_level_vervanging)

# waardes kolom 'type_of_conflict' aanpassen op basis van dataset documentatie
type_of_conflict_vervanging = {1.00: 'extrasystemic', 2.00: 'interstate', 3.00: 'intrastate', 4.00: 'internationalized intrastate'}
df_conflicts_cleaned['type_of_conflict'] = df_conflicts_cleaned['type_of_conflict'].replace(type_of_conflict_vervanging)

# waardes kolom 'region' aanpassen op basis van dataset documentatie
region_vervanging = {'1': 'Europe', '2': ' Middle East ', '3': 'Asia', '4': 'Africa', '5': 'Americas'}
df_conflicts_cleaned['region'] = df_conflicts_cleaned['region'].replace(region_vervanging)

# sorteren op startdate van nieuwe naar oud
df_conflicts_cleaned = df_conflicts_cleaned.sort_values(by='startdate', ascending= False)